[submodule "crud-app"]
	path = crud-app
	url = https://github.com/abhinavkale-dev/solana-crud-app.git
[submodule "favourites_program"]
	path = favourites_program
	url = https://github.com/abhinavkale-dev/solana-favourites-program.git
[submodule "creating-nft"]
	path = creating-nft
	url = https://github.com/abhinavkale-dev/creating-nft.git
[submodule "swap-program"]
	path = swap-program
	url = https://github.com/abhinavkale-dev/swap-program.git
